.matched-user {
  padding: 8px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background: rgba(70, 70, 70, 0.3);
}

.matched-user.selected-user {
  background: rgba(70, 70, 70, 0.8);
}