.user-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}

.user-table tr {
  transition: all 0.5s ease-in-out;
  border: 1px solid rgba(0, 0, 240, 0.5);
  height: 30px;;
}

.user-table tr:hover {
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 240, 0.5);
}

.user-table tr th {
  padding: 5px;
}

.user-table tr td {
  border: 1px solid rgba(0, 0, 240, 0.5);
  padding: 5px;
}

.user-table-nav {
  max-width: 80vw;
}



.user-table-add-skill-btn {
  background: rgba(0, 0, 240, 0.8);
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  height: 40px;
  color: #FFF;
}

.user-table-add-skill-btn:hover {
  cursor: pointer;
}