.user-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
}

.user-table tr {
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid rgba(70, 70, 70, 0.5);
  height: 30px;;
}

.user-table tr:hover {
  transition: all 0.5s ease-in-out;
  background: rgba(70, 70, 70, 0.5);
}

.user-table tr th {
  padding: 10px;
}

.user-table tr td {
  border-bottom: 1px solid rgba(70, 70, 70, 0.5);
  padding: 10px;
}

.user-table-nav {
  max-width: 80vw;
}

.user-table-add-skill-btn-container {
  text-align: right;
}

.user-table-add-skill-btn {
  background-color: rgba(50, 50, 50, 0.7) !important;
}

.user-table-add-skill-btn:hover {
  background-color: rgba(30, 30, 30, 1) !important;
}