.user-dropdown {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui-dropdown-item.ui-state-highlight {
  background: rgba(70, 70, 70, 1) !important;
}

.ui-dropdown-item:hover {
  background: rgba(70, 70, 70, 0.5) !important;
}

.ui-dropdown-label.ui-inputtext:focus {
  box-shadow: 0px 0px 5px rgba(70, 70, 70, 0.5);
}