.header {
  background: rgb(134, 93, 187);
  min-height: 7vh;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 2vh;
}

.menu-img {
  width: 30px;
  height: 30px;
  padding: 10px 0 0 150px;
}

.menu-img:hover {
  cursor: pointer;
}