.header {
  background: rgb(70, 70, 70);
  min-height: 7vh;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 2vh;
  user-select: none;
}

.logo-link {
  margin-right: 110px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.1s ease-in;
  text-decoration: none;
  color: #FFF;
  font-size: 2em;
  font-weight: bold;
}

.logo-link:hover {
  background: rgba(50, 50, 50, 0.7);
  box-shadow: inset 0 0 3px 3px  rgb(50, 50, 50);
  border-radius: 10px;
  transition: background 0.1s ease-out;
}

.logo-link:active {
  text-decoration: unset;
  color: #AAA;
}

.logo-link-span{
  margin-bottom: 10px
}
